@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* Estilo para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 2px; 
  border-radius: 10px;
  scrollbar-width: none;
  display: none;/* Largura da barra de rolagem */
}
::-webkit-scrollbar {
  display: none; /* Remove a barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor da track (fundo da barra) */
  border-radius: 10px;
  scrollbar-width: none;
  display: none; /* Borda arredondada */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor do thumb (parte móvel) */
  border-radius: 10px;
  scrollbar-width: none;
  display: none; /* Borda arredondada */
   /* Cor ao redor do thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  border-radius: 10px;
  display: none;
  scrollbar-width: none; /* Cor do thumb ao passar o mouse */
}




}
