@import './style.module.css';
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    background: linear-gradient(135deg, #0796D3, #53C0F0);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  
    /* &:hover {
      background: linear-gradient(135deg, #5a6a6b, #b2c4c5);
    } */
  }
  
  .input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  
    &:focus {
      outline: none;
      border-color: #6e7f80;
    }
  }


